<form method="POST" action="{{ url_for('trouver_objet') }}">
    {{ form.hidden_tag() }}
    
        <!-- Type d'objet -->
        <label for="type_d_objet">Type d'objet :</label>
        {{ form.type_d_objet(class="form-control") }}
        <br/>
        
        <!-- Gares -->
        <label for="gares">Gare.s :</label>
        <input type="text" id="gares" list="gares-list" placeholder="Rechercher une gare..." autocomplete="off">
        <datalist id="gares-list"></datalist>

        <div id="selected-gares"></div>
        <input type="hidden" id="hidden-gares" name="gares"> <!-- Stocker les valeurs pour le formulaire -->
                
        <!-- Date du trajet -->
        <label for="date_trajet">Date du trajet :</label>
        {{ form.date_trajet(class="form-control", id="date_trajet") }}
    
        <!-- Heure approximative de perte -->
        <label for="heure_approx_perte">Heure approximative de perte :</label>
        {{ form.heure_approx_perte(class="form-control", id="heure_approx_perte") }}
    
        <!-- Bouton de soumission -->
        {{ form.submit(class="btn btn-primary") }}
</form>

