{% extends '/pages/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- CONTENU DE LA PAGE ACCUEIL-->

<!-- Affichage des messages d'erreur-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container mt-3 center-text" style="display:inline-block">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<!--Description de l'application-->
<div class="container min-vh-100 d-flex flex-column justify-content-center" id="cont_accueil">
    <div class="row justify-content-md-center">
        <div class="card p-4 mb-3 w-50">
            <h1 class="text-center card-title">Cadeaux en cavale : Retrouve tes trésors perdus en gare !</h1>
            <p class="card-text">Les fêtes de fin d’année, c’est magique : sapins scintillants, chocolats en abondance… et cadeaux égarés entre deux trains ! 🫣 Qui n’a jamais vécu ce moment de panique en réalisant que son sac, sa doudoune ou (pire !) son précieux cadeau de Noël s’est fait la malle sur un quai bondé ?
                </p>
        </div>
    </div>

<!--Boutons vers les autres pages -->
    <div class="row justify-content-around w-100">
        <div class="col-6">
            <div class="card p-4">
                <h2 class="text-center card-title">Trouver un objet 🔎</h2>
                <p class="card-text">Pas de panique, Cadeaux en cavale est là pour jouer les détectives des objets trouvés ! Grâce aux données officielles de la SNCF, notre appli vous aide à traquer vos affaires égarées et à les récupérer avant qu’elles ne partent en voyage sans vous.</p>
                <a href="{{ url_for('trouver_objet') }}" class="btn mb-3">Faire une recherche</a>
            </div>
        </div>
        <div class="col-6">
            <div class="card p-4">
                <h2 class="text-center card-title">Le saviez-vous ? 🧐</h2>
                <p class="card-text">Et parce qu’on aime les anecdotes insolites, notre section "Le saviez-vous ?" vous dévoile des stats surprenantes sur les objets perdus 📊</p>
                <a href="/le-saviez-vous" class="btn mb-3">Je suis curieux</a>
            </div>
        </div>
    </div>
</div>
<marquee><img src="{{ url_for('static', filename='img/train.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Train"></marquee>
{% endblock %}