{% extends '/pages/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- CONTENU DE LA PAGE ACCUEIL-->

<!-- Affichage des messages d'erreur-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container mt-3 center-text" style="display:inline-block">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<!--Description de l'application-->
<div class="container min-vh-100 d-flex flex-column justify-content-center" id="cont_accueil">
    <div class="row justify-content-md-center">
        <div class="card p-4 mb-3 w-50">
            <h1 class="text-center card-title">Description du site</h1>
            <p class="card-text">Paragraphe explicatif</p>
        </div>
    </div>

<!--Boutons vers les autres pages -->
    <div class="row justify-content-around w-100">
        <div class="col-6">
            <div class="card p-4">
                <h2 class="text-center card-title">Trouver un objet</h2>
                <p class="card-text">Paragraphe explicatif</p>
                <a href="{{ url_for('trouver_objet') }}" class="btn mb-3">Faire une recherche</a>
            </div>
        </div>
        <div class="col-6">
            <div class="card p-4">
                <h2 class="text-center card-title">Le saviez-vous ?</h2>
                <p class="card-text">Paragraphe explicatif</p>
                <a href="/le-saviez-vous" class="btn mb-3">Je suis curieux</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}