{% extends '/pages/base.html' %}

{% block title %}Accueil{% endblock %}



{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<div class="main-block">
    <h2>Description du site</h2>
    <p><!--Insérer le contenu textuel--></p>
</div>

<div class="row">
    <div class="small-block">
        <h3>Trouver un objet</h3>
    </div>
    <div class="small-block">
        <h3>Le saviez-vous ?</h3>
    </div>
</div>
{% endblock %}