{% extends "base.html" %}

{% block content %}
<div class="">
    <h3 class="">Changer de mot de passe</h3>
    <div class="">

        <!---Affichage dans la box des erreurs dans le formulaire-->
        {% for field, errors in form.errors.items() %}
            <div class="">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <form method="POST">
            {{ form.hidden_tag() }}
            
            <div class="">
                <div class="">
                    <input class="" type="password" name="new_password" placeholder="Votre mot de passe">
                </div>
            </div>

            <div class="">
                <div class="">
                    <input class="" type="password" name="confirmation_mdp" placeholder="Votre mot de passe">
                </div>
            </div>

            <button class="">Changer</button>
        </form>
    </div>
</div>
{% endblock %}
