{% extends "base.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/simplex/bootstrap.min.css" rel="stylesheet">
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Changer de mot de passe</h3>
            <div class="card p-4">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <div class="mb-3">
                        <label for="new_password" class="form-label">Nouveau mot de passe</label>
                        {{ form.new_password(class="form-control", id="new_password", placeholder="Nouveau mot de passe") }}
                        {% if form.new_password.errors %}
                            <div class="text-danger">{{ form.new_password.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="confirmation_mdp" class="form-label">Confirmez le mot de passe</label>
                        {{ form.confirmation_mdp(class="form-control", id="confirmation_mdp", placeholder="Confirmez le mot de passe") }}
                        {% if form.confirmation_mdp.errors %}
                            <div class="text-danger">{{ form.confirmation_mdp.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Changer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
