{% extends '/pages/base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="">
    <h3 class="">Connexion</h3>
    <div class="">

    <!--Affichage des erreurs dans la box-->
    <!---Affichage des erreurs flash-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!---Affichage des erreurs dans le formulaire-->
    {% for field, errors in form.errors.items() %}
        <div class="">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}

        <form method="POST" action="{{ url_for('connexion') }}">
            {{ form.hidden_tag() }}
            <div class="">
                <div class="">
                    <input class="" type="email" name="email" placeholder="Votre adresse email" autofocus="">
                </div>
            </div>
            <div class="">
                <div class="">
                    <input class="" type="text" name="pseudo" placeholder="Votre pseudo" autofocus="">
                </div>
            </div>

            <div class="">
                <div class="">
                    <input class="" type="password" name="password" placeholder="Votre mot de passe">
                </div>
            </div>
            <button class="">Connexion</button>
        </form>
    </div>
</div>
{% endblock %}