{% extends 'base.html' %}

{% block title %}Le saviez-vous ?{% endblock %}

{% block content %}
<div class="full-width-paragraph">
    <p><!--Insérer le texte --></p>
</div>
<!--Première datavisualisation-->
<div class="image-text-container">
    <!--Mettre les dataviz dans des img src ?-->
    <p>Insérer le texte</p>
</div>
<!--Deux autres datavisualisations-->
<div class="image-row">
    <div class="image-item">
        <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="Image 2">
        <p>Insérer le texte</p>
    </div>
    <div class="image-item">
        <!--Mettre les dataviz dans des img src ?-->
        <p>Insérer le texte</p>
    </div>
</div>
{% endblock %}