{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="">
    <h3 class="">S'inscrire</h3>

    <div class="">

        <!--Affichage de l'erreur dans la box-->
        <!---Affichage des erreurs flash-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="">
                    {% for category, message in messages %}
                        <p class="{{ 'alert alert-danger' if category == 'error' else 'alert alert-secondary' }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Affichage des erreurs liées au formulaire -->
        {% for field, errors in form.errors.items() %}
            <div class="">
                {% for error in errors %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <form method="POST" action="{{ url_for('ajout_utilisateur') }}">
            {{ form.hidden_tag() }}
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Votre adresse email" autofocus="">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="pseudo" placeholder="Votre pseudo" autofocus="">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Votre mot de passe">
                </div>

            <button class="btn btn-primary">S'inscrire</button>
        </form>
    </div>
</div>
{% endblock %}