<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le saviez-vous</title>
    {% include 'partials/graphiques/script_js_le_saviez_vous_head.html'%}
</head>
<body>

    <h2>Carte du taux d'objet perdus par gare pour 100 voyageurs en moyenne sur 3 ans</h2>
    <div id="heatmap" style="width: 80vw; height: 80vh;"></div>

    {% include 'partials/graphiques/script_carte_taux_objets_perdus.html' %}

<div style="width: 100%; margin: auto;">
    <canvas id="graphique"></canvas>
</div>

{% include 'partials/graphiques/script_courbes_2021_2023_par_mois.html' %}

<!--GRAPHIQUE TEMPS MOYEN RESTITUTION-->
<h2>Délais moyens par type d'objet</h2>
    <div id="graph_type"></div>

    <h2>Délais moyens par nature d'objet</h2>
    <div id="graph_nature"></div>

   {% include 'partials/graphiques/script_temps_moyen.html' %}

</body>
</html>
