{% extends 'pages/base.html' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-3 text-center">Mon compte</h1>

    <div class="card my-3 p-4">
        <!--Affichage du message de succès quand on a changé son mot de passe-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        
        <h2 class="my-3 ms-5 p-4">Informations</h2>
        <table class="table ms-3 me-3">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Mot de passe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ utilisateur.pseudo }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>●●●●●</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn mb-3" href="{{ url_for('chgnt_mdp') }}">Changer de mot de passe</a>
        </div>        
    </div>

    <div class="card my-3 p-4">
        <h2 class="my-3 ms-5">Gares favorites</h2>
        {% if favoris %}
            <ul>
                {% for f, nom_gare in favoris %}
                    <li>{{ nom_gare }}</li>
                {% endfor %}
            </ul>
            <div class="text-center">
                <a class="btn mb-3" href="{{ url_for('export_favoris') }}">Exporter en PDF</a>
            </div>   
        {% else %}
            <p>Vous n'avez pas encore de gares favorites.</p>
        {% endif %}
    </div>

    <div class="card my-3 p-4">
        <h2 class="my-3 ms-5">Historique des recherches</h2>
        
        <!--Pagination de l'historique-->
        <div class="pagination mb-3">
            {% if pagination.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for('moncompte', page=pagination.prev_num) }}">Précédent</a></li>
            {% endif %}

            {% for page_num in pagination.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                {% if page_num %}
                    {% if page_num == pagination.page %}
                        <li class="page-item active" id="lien-actif"><strong class="page-link">{{ page_num }}</strong></li>
                    {% else %}
                        <!--Faire en sorte que l'url de la page un de l'historique soit simplement moncompte : -->
                        <li class="page-item"><a class="page-link" href="{{ url_for('moncompte', page=page_num) if page_num != 1 else url_for('moncompte') }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
                <li class="page-item"><a class="page-link" href="{{ url_for('moncompte', page=pagination.next_num) }}">Suivant</a></li>
            {% endif %}
        </div>

        <!--Affichage de l'historique-->
        {% if historique %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date de la recherche</th>
                    <th>Type d'objet</th>
                    <th>Gare.s sélectionnée.s</th>
                    <th>Date sélectionnée</th>
                    <th>Heure sélectionnée</th>
                </tr>
            </thead>
            <tbody>
                {% for h in historique %}
                    <tr>
                        <td>{{ h.date_heure_recherche.strftime('%d/%m/%Y %H:%M') }}</td>
                        <td>{{ h.requete.get('type_d_objet') }}</td>
                        <td>
                            {% if h.requete.get('gares') %}
                                <ul>
                                    {% for gare in h.requete['gares'] %}
                                        <li>{{ gare }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Non renseigné
                            {% endif %}
                        </td>
                        <td>{{ h.requete.get('date_trajet') }}</td>
                        <td>{{ h.requete.get('heure_approx_perte') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>Aucune recherche enregistrée.</p>
        {% endif %}
    </div>
</div>

{% endblock %}