{% extends 'base.html' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<div class="">
    <h1 class="">Mon compte</h1>

    <h2 class="">Historique des recherches</h2>
    {% if historique %}
        <table class="">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Requête</th>
                </tr>
            </thead>
            <tbody>
                {% for h in historique %}
                <tr>
                    <td>{{ h.date_heure_recherche.strftime('%d/%m/%Y %H:%M') }}</td>
                    <td>{{ h.requete_json }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune recherche enregistrée.</p>
    {% endif %}

    <h2 class="">Informations</h2>
        <table class="">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Mot de passe</th>
                </tr>
            </thead>
            <tbody>
                {% for i in utilisateur %}
                <tr>
                    <td>{{ i.pseudo }}</td>
                    <td>{{ i.email }}</td>
                    <td>●●●●●</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('chgnt_mdp') }}">Changer de mot de passe</a>

    <h2 class="">Gares favorites</h2>
    {% if favoris %}
        <ul>
            {% for f in favoris %}
                <li>Gare UIC : {{ f.UIC }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez pas encore de gares favorites.</p>
    {% endif %}
</div>
{% endblock %}