<script>
document.addEventListener("DOMContentLoaded", function() {
	const inputGares = document.getElementById("gares");
	const datalist = document.getElementById("gares-list");

	inputGares.addEventListener("input", function() {
    	fetch(`/autocomplete-gares?query=${inputGares.value}`)
        	.then(response => response.json())
        	.then(data => {
            	datalist.innerHTML = "";
            	data.forEach(gare => {
                	const option = document.createElement("option");
                	option.value = gare;
                	datalist.appendChild(option);
            	});
        	})
        	.catch(error => console.error("Erreur lors du chargement des suggestions :", error));
	});
});
</script>